/* body {
    background-color: blue;
} */

.home-header{
    text-align: center;
    padding: 1%;
    font-size: 3.5vw;
    background-color: gray;
}

.home-header p{
    text-align: center;
    font-size: 2vw;
}