.aww-header{
    text-align: center;
    padding: 1%;
    font-size: 3.5vw;
}

.aww-para{
    text-align: center;
    font-size: 2vw;
    /* padding: 1%; */
}

.catto{
    width: 40%;
    height: 40%;
    margin-right: 1%;
    margin-left: 1%;
    /* display: block; */
    /* position: relative; */
    /* gap: 25px; */
}

.catto4{
    height: 40%;
    margin-right: 1%;
    margin-left: 1%;
}